
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-gradient-to-br from-stone-900 to-slate-800;
}
img{
  max-width: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn {
  @apply py-2 px-8 bg-blue-500 text-white bg-transparent  border-blue-500 rounded hover:opacity-75 transition-all duration-300 ;
}
.heading{
  @apply text-4xl font-bold text-white md:text-5xl xl:text-6xl;
}
p{
  line-height: 1.8;
  @apply text-white text-sm;
}
.showcase{
  background: url('./assets//bg-image.jpg') no-repeat center/cover ;
  height: calc(100vh - 0.1px);
}
.showcase .overlay{
  background: rgba(0, 0, 0, 0.3);
  height: calc(100vh - 0.1px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.max-width {
  @apply max-w-6xl mx-auto px-4;
}

.articles{
  @apply bg-stone-900 p-5 rounded-lg shadow shadow-zinc-900 text-white text-sm ;
}


